<div>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Vencimientos Del Mes</h5>
                    <span class="h2 font-weight-bold mb-0">{{polizasCount}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span> -->
                  <span class="text-wrap">Desde el Anterior Mes Total
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-9 col-lg-6">
            <form #templateForm="ngForm" (submit)="onSubmit(templateForm.value)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="productName" ngModel name="productName" #productName="ngModel"
                      (change)="log(productName)" placeholder="Nombre de Póliza"
                      class="form-control form-control-alternative" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="aseguradora" ngModel name="aseguradora" placeholder="Aseguradora"
                      class="form-control form-control-alternative" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="polizaNumber" ngModel name="polizaNumber" placeholder="Número de Póliza"
                      class="form-control form-control-alternative" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="asegurado" ngModel name="asegurado" placeholder="Asegurado"
                      class="form-control form-control-alternative" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="tipo" ngModel name="tipo" placeholder="Tipo"
                      class="form-control form-control-alternative" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-success">Añadir Póliza</button>
                </div>
              </div>
            </form>

          </div>

          <!-- <app-polizas-form></app-polizas-form> -->
        </div>



      </div>
    </div>
  </div>

</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->


  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Pólizas</h3>


        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre Asegurado</th>
                <th scope="col">Tipo de Póliza</th>
                <th scope="col">Número de Póliza</th>
                <th scope="col">Fecha de Vencimiento</th>
                <th scope="col">Acciones</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let poliza of totalPolizas">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{poliza.asegurado}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{poliza.productName}}
                </td>
                <td>
                  {{poliza.polizaNumber}}
                </td>
                <td>
                  {{poliza.fechaVencimiento | date}} {{poliza.fechaVencimiento | date:'longTime'}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <button class="btn btn-primary" (click)="myFunction(poliza.productName)">Editar</button>
                      <button class="btn btn-danger" (click)="myFunction(poliza.polizaNumber)">Eliminar</button>
                    </div>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let poliza of totalPolizas">
    <div id="{{poliza.productName}}" class="col-xl-9 col-lg-6 my-5 mx-auto" style="display: none;">
      <form #templateForm="ngForm" (submit)="onEdit(templateForm.value)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="productName" style="background-color : #5e72e4; color: white;" ngModel
                name="productName" #productName="ngModel" (change)="log(productName)" placeholder="Nombre de Póliza"
                class="form-control form-control-alternative" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="aseguradora" style="background-color : #5e72e4; color: white;" ngModel
                name="aseguradora" placeholder="Aseguradora" class="form-control form-control-alternative" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="polizaNumber" style="background-color : #5e72e4; color: white;" ngModel
                name="polizaNumber" placeholder="Número de Póliza" class="form-control form-control-alternative"
                required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="asegurado" style="background-color : #5e72e4; color: white;" ngModel
                name="asegurado" placeholder="Asegurado" class="form-control form-control-alternative" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="tipo" style="background-color : #5e72e4; color: white;" ngModel name="tipo"
                placeholder="Tipo" class="form-control form-control-alternative" required>
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Editar Póliza</button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div *ngFor="let poliza of totalPolizas">
    <div id="{{poliza.polizaNumber}}" class="col-xl-9 col-lg-6 my-5 mx-auto" style="display: none;">
      <h1 class="text-danger">Introduce el Número de Poliza para confirmar la operación</h1>
      <form #templateForm="ngForm" (submit)="onDelete(templateForm.value)">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">

              <input ngModel type="text" id="polizaNumber" style="background-color : #f5365c; color: white;"
                name="polizaNumber" class="form-control form-control-alternative" required>

            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-6">
            <button type="submit" class="btn btn-danger">Eliminar Póliza</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
