<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Aseguradoras Registradas</h5>
                  <span class="h2 font-weight-bold mb-0">{{aseguradorasCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.85%</span> -->
                <span class="text-wrap"></span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-9 col-lg-6">
          <form #templateForm="ngForm" (submit)="onSubmit(templateForm.value)">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="RFC" ngModel name="RFC" #name="ngModel"
                    placeholder="RFC" class="form-control form-control-alternative" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="nombre" ngModel name="nombre" placeholder="Nombre"
                    class="form-control form-control-alternative" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input id="telefono" ngModel name="telefono" placeholder="Teléfono"
                    class="form-control form-control-alternative" required>
                </div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-success">Añadir Aseguradora</button>
              </div>
            </div>
          </form>

        </div>



      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Aseguradoras</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">RFC</th>

                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let aseguradora of totalAseguradoras">
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">{{aseguradora.nombre}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{aseguradora.RFC}}
                </td>
                <td>
                  {{aseguradora.telefono}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <button class="btn btn-primary" (click)="myFunction(aseguradora.RFC)">Editar</button>
                      <button class="btn btn-danger" (click)="myFunction(aseguradora.RFC)">Eliminar</button>
                    </div>
                  </div>
                </th>


              </tr>


            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let aseguradora of totalAseguradoras">
    <div id="{{aseguradora.RFC}}" class="col-xl-9 col-lg-6 my-5 mx-auto" style="display: none;">
      <form #templateForm="ngForm" (submit)="onEdit(templateForm.value, aseguradora.RFC)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="nombre" style="background-color : #5e72e4; color: white;" ngModel name="nombre"
                #name="ngModel" (change)="log(nombre)" placeholder="{{aseguradora.nombre}}"
                class="form-control form-control-alternative" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="telefono" style="background-color : #5e72e4; color: white;" ngModel name="telefono"
                placeholder="{{aseguradora.telefono}}" class="form-control form-control-alternative" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Editar Aseguradora</button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div *ngFor="let aseguradora of totalAseguradoras">
    <div id="{{aseguradora.RFC}}" class="col-xl-9 col-lg-6 my-5 mx-auto" style="display: none;">
      <h1 class="text-danger">Introduce el RFC de la Aseguradora para confirmar la operación</h1>
      <form #templateForm="ngForm" (submit)="onDelete(templateForm.value)">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">

              <input ngModel type="text" id="RFC" style="background-color : #f5365c; color: white;" name="RFC"
                class="form-control form-control-alternative" required>

            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-6">
            <button type="submit" class="btn btn-danger">Eliminar Aseguradora</button>
          </div>
        </div>
      </form>

    </div>
  </div>


</div>
